body {
    background: transparent url('img/bg.png');
    color: #8d6e40;
}

#header, #content {
    padding: 0.8em;
}

#footer {
    padding: 0.3em 0.8em;
}

.bgcheck {
    background: red;
}

/* =============================================================================
    Typography
    ========================================================================== */

    h1 {
        color: rgba(209,178,134, 1);
        text-shadow:
            0 -1px 0 rgba(0, 0, 0, 0.4),
            0 1px 0 rgba(255, 255, 255, 0.5);
    }

/* =============================================================================
    Header
    ========================================================================== */

    #header {
        text-align: center;
    }

/* =============================================================================
    Content
    ========================================================================== */

    #content {
        background-color: rgba(209,178,134, .2);
        box-shadow:
            0 -1px 0 rgba(0, 0, 0, 0.2),
            0 1px 0 rgba(255, 255, 255, 0.5);
        border-radius: 1em;
    }

/* =============================================================================
    Veckans Meny
    ========================================================================== */

    dt {
        font-weight: bold;
        font-size: 1.1em;
    }
    dd {
        margin-left: 10px;
    }

/* =============================================================================
    Imgs
    ========================================================================== */

    .bild {
        background: url('http://tinaz.blogg.se/images/2010/dsc_1282_79675868.jpg');
        width: 550px;
        height: 350px;
        border-radius: 1em;
        border: 2px solid rgba(209,178,134, .8);
        position: relative;
    }

    .bild_text {
        position: absolute;
        width: 502px;
        padding: 15px 25px;
        bottom: -22px;
        border-radius: 0 0 1em 1em;
        background-color: rgba(0,0,0,.6);
        color:#e3e3e3;
    }